<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" ></link> 
<link type="text/css" rel="stylesheet" href="../../../css/style.css" ></link>
<title>AGENDA</title>
</head>
<body>
	<header th:replace="/layouts/header::header"></header>
	<h1>AGENDA</h1>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/qXrfQXqa7C4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>		
	<footer th:replace="/layouts/footer::footer"></footer>
	
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>