<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Edición alumno</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div class="container col-4">
			<br>
			<h4>Edición Alumno</h4>
			<br>
	
			<form th:action="@{/alumno/modificar}" method="POST" th:object="${alumno}">
				<div class="mb-3">
					<input type="hidden" th:field="*{dni}"/>
					<label for="dniId" class="form-label">DNI</label> 
					<input  th:value="${dni}" type="number" class="form-control" id="dniId" disabled="disabled">
				</div>
				<div class="mb-3">
					<label for="nombreId" class="form-label">NOMBRE</label> 
					<input  th:field="*{nombre}" type="text" class="form-control" id="nombreId">
					<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>
				<div class="mb-3">
					<label for="apellidoId" class="form-label">APELLIDO</label> 
					<input  th:field="*{apellido}" type="text" class="form-control" id="apellidoId">
					<div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
				</div>
				<div class="mb-3">
					<label for="emailId" class="form-label">E-mail</label> 
					<input th:field="*{email}" type="email" class="form-control" id="emailId" >
					<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>
				<div class="mb-3">
					<label for="telefonoId" class="form-label">TELEFONO</label> 
					<input th:field="*{telefono}" type="number" class="form-control" id="telefonoId">
					<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
				</div>
				
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Editar</button>
					 <a th:href="@{/alumno/lista}" id="cancel" class="btn btn-secondary">Cancelar</a>
					 	  				
				</div>
			</form>
		</div>
		<br><br>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	
	
	</body>
</html>