<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" ></link> 
<link type="text/css" rel="stylesheet" href="../../../css/style.css" ></link>
<title>IDIOMAS</title>
</head>
<body>
	<header th:replace="/layouts/header::header"></header>
	<div class="container bg-light">
	<div class="row"> <!--inicio de contenedor row-->
		<section class="col-md-8" style="margin: auto">
	<header style="background-color: cornflowerblue; margin-top: 1.4%; border-radius: 10px;"><h3>Idiomas</h3></header>
		
			<table class="table table-hover table-dark">
				<tr>
					<th>Titulo del curso</th>
					<th>Fecha de inicio</th>
					<th>Horario</th>
					<th>Fecha Fin</th>
					<th>Modalidad</th>
					<th>Docente</th>
					<th>Duración en semanas</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</section>
		</div>
		</div>
		
		
	<footer th:replace="/layouts/footer::footer"></footer>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>