<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
<link type="text/css" rel="stylesheet" href="../../../css/style.css"></link>
<title>Alta Curso</title>
</head>
<body>
	<header th:replace="/layouts/header::header"></header>
	
	<form th:action="@{/cursos/guardar}" method="POST" th:object="${curso}">
		<header> <h3>Alta Curso</h3> </header>
		
		<div class="mb-3">
			<label for="CodigoId" class="form-label">Codigo</label>
			<input th:field="*{codigo}" type="number" class="form-control"	id="CodigoId">
		</div>
		<div class="mb-3">
			<label for="TituloId" class="form-label">Titulo</label>
			<input th:field="*{titulo}" type="text" class="form-control"	id="TituloId">
		</div>
		<div class="mb-3">
			<label for="CategoriaId" class="form-label">Categoria</label>
			<input th:field="*{categoria}" type="text" class="form-control" id="CategoriaId">
		</div>
		<div class="mb-3">
			<label for="InputInicio" class="form-label">Inicio</label> 
			<input th:field="*{inicio}" type="text" class="form-control" id="InputInicio" placeholder="2007-12-03"> 
		</div>
		<div class="mb-3">
			<label for="InputFin" class="form-label">Fin</label>
			<input th:field="*{fin}" type="text" class="form-control" id="InputFin" placeholder="2007-12-03">
		</div>
		<div class="mb-3">
			<label for="InputCantHoras" class="form-label">Cant de horas</label>
			<input th:field="*{cantidadDeHoras}" type="number" class="form-control" id="InputCantHoras" >
		</div>
		<div class="mb-3">
			<label for="InputModalidad" class="form-label">Modalidad</label>
			<input th:field="*{modalidad}" type="text" class="form-control" id="InputModalidad">
		</div>
		<div class="mb-3">
			<label for="InputEstado" class="form-label">Docente</label>
			<input th:field="*{docente.legajo}" type="text" class="form-control" id="InputEstado">
		</div>
		
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>

	<footer th:replace="/layouts/footer::footer"></footer>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>